*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-areas: 
    "result details";
  grid-template-columns: 711px 399px;
  gap: 30px;
  align-items: end;
  margin: auto;
}

.result {
  grid-area: result;
}

.content__details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  block-size: 100%;
  gap: 26px;
}

.result__video-container {
    inline-size: 711px;
    block-size: 386px;
    margin-block-end: 16px;
}

.result__video {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

.content__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content__video-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content__video-card-thumbnail {
    inline-size: 194px;
    block-size: 103px;
    object-fit: cover;
    object-position: center;
}

.content__video-card-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.content__video-card-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 0.9;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.content__video-card-description-container {
    flex-grow: 1;
}

.search-form {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
  flex-grow: 1;
}

.search-form__fieldset-title {
    font-size: 18px;
    font-weight: 400;
    margin-block-end: 5px;
}

.content__list-container {
  block-size: 298px;
  overflow-y: auto;
}

.title {
    font-size: 75px;
    font-weight: 700;
    line-height: 0.94;
    text-transform: uppercase;
}

.content__accent {
    color: #545050;
}

.content__card-link {
    text-decoration: none;
    color: inherit;
}

/* ШАГ 4 */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
    display: flex;
    gap: 15px;
}

.search-form__fieldset {
    border: none;
}

.search-form__label {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 5px;
}

.search-form__textfield {
    appearance: none;
    border: none;
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    color: #fff;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    padding: 2px 0;
}

.search-form__textfield:focus {
    outline: none;
}

.search-form__label:has(:focus-visible) {
    outline: 1px solid currentColor;
    outline-offset: 1px;
}

.search-form__pseudo-checkbox {
    border: 1px solid #fff;
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form__pseudo-checkbox::after {
    content: "";
    width: 15px;
    height: 15px;
    background: #fff;
    display: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    display: block;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
    outline: 1px solid currentColor;
    outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text {
    text-decoration: underline;
}

/* ШАГ 5 */
.button {
    border: 1px solid #fff;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    background: transparent;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.search-form__submit-button {
    align-self: flex-end;
    padding: 5px 73px;
}

.more-button {
    width: 100%;
    padding: 5px 0;
}

.button:hover {
    text-decoration: underline;
}

.button:active {
    background: #545050;
}

.button:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 1px;
}

/* ШАГ 6 */
.content__list-item {
    margin-bottom: 30px;
    padding: 0 3px;
}

.content__list-item:last-child {
    margin-bottom: 0;
}

.content__video-card-description-container {
    flex-grow: 1;
}

.content__card-link {
    display: block;
    padding: 2px;
}

.content__card-link_current {
    background: #545050;
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
    text-decoration: underline;
}

.content__card-link:focus {
    outline: none;
}

.content__card-link:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 1px;
}

.content__card-link:active {
    background: #545050;
}

/* ШАГ 7 */
.button,
.search-form__label,
.content__card-link {
    cursor: pointer;
}

/* ШАГ 8 */
.result__video-container,
.content__list-container {
    position: relative;
}